@import "tailwindcss";

:root {
  --bar-color: #4f46e5;
  --axis-label-color: #1b2631;
  --cartesian-label-color: #1b2631;
  --stroke-color: #eff6ff;

  --color-primary-50: #e1e8ef;
  --color-primary-100: #d4dee7;
  --color-primary-200: #1b2631;
  --color-primary-300: #99b0c7;
  --color-primary-400: #7c99b6;
  --color-primary-500: #5e82a6;
  --color-primary-600: #4c6b8a;
  --color-primary-700: #b7c7d7;
  --color-primary-800: #2c3d4f;
  --color-primary-900: #5243c2;
  --color-primary-950: #4d13b9;

  --color-accent-50: #faf5f0;
  --color-accent-100: #f4ece1;
  --color-accent-200: #e8d6bf;
  --color-accent-300: #ddc2a2;
  --color-accent-400: #d2af84;
  --color-accent-500: #c69963;
  --color-accent-600: #b78343;
  --color-accent-700: #926835;
  --color-accent-800: #6c4d28;
  --color-accent-900: #4b351b;
  --color-accent-950: #382814;
}

.dark {
  --bar-color: #bfdbfe;
  --axis-label-color: #d4dee7;
  --cartesian-label-color: #d4dee7;
  --stroke-color: #1b2631;

  --color-primary-50: #e1e8ef;
  --color-primary-100: #d4dee7;
  --color-primary-200: #b7c7d7;
  --color-primary-300: #99b0c7;
  --color-primary-400: #7c99b6;
  --color-primary-500: #5e82a6;
  --color-primary-600: #4c6b8a;
  --color-primary-700: #1b2631;
  --color-primary-800: #2c3d4f;
  --color-primary-900: #5243c2;
  --color-primary-950: #4d13b9;

  --color-accent-50: #faf5f0;
  --color-accent-100: #f4ece1;
  --color-accent-200: #e8d6bf;
  --color-accent-300: #ddc2a2;
  --color-accent-400: #d2af84;
  --color-accent-500: #c69963;
  --color-accent-600: #b78343;
  --color-accent-700: #926835;
  --color-accent-800: #6c4d28;
  --color-accent-900: #4b351b;
  --color-accent-950: #382814;
}

@theme inline {
  --color-primary-50: #e1e8ef;
  --color-primary-100: #d4dee7;
  --color-primary-200: #b7c7d7;
  --color-primary-300: #99b0c7;
  --color-primary-400: #7c99b6;
  --color-primary-500: #5e82a6;
  --color-primary-600: #4c6b8a;
  --color-primary-700: #1b2631;
  --color-primary-800: #2c3d4f;
  --color-primary-900: #5243c2;
  --color-primary-950: #4d13b9;

  --color-accent-50: #faf5f0;
  --color-accent-100: #f4ece1;
  --color-accent-200: #e8d6bf;
  --color-accent-300: #ddc2a2;
  --color-accent-400: #d2af84;
  --color-accent-500: #c69963;
  --color-accent-600: #b78343;
  --color-accent-700: #926835;
  --color-accent-800: #6c4d28;
  --color-accent-900: #4b351b;
  --color-accent-950: #382814;

  --breakpoint-xs: 25rem;
  --breakpoint-xmd: 34rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .spinner {
    margin: 20rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.300");
    border-right-color: theme("colors.primary.200");
    animation: rotate 1s infinite linear;
  }

  @media (min-width: 1024px) {
    .spinner {
      margin: 16rem auto 1.6rem;
    }
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}
